{% extends 'layout.html' %}
{% block title %}Share File{% endblock %}

{% block content %}
  <div class="card">
    <h1>Share File</h1>

    <form id="share-form" enctype="multipart/form-data">
      <div id="file-drop-area" class="file-drop-area">
        <input type="file" name="file" id="file-upload" required>
        <p id="file-placeholder">Drag & Drop or Click to Select</p>
      </div>

      <input name="password" type="password" placeholder="Password" required><br>
      <input name="expiry" type="number" placeholder="Expiry (minutes)" value="60" required><br>
      <button type="submit">Generate Link</button>
    </form>

    <div id="share-result" class="result-box"></div>
  </div>
{% endblock %}
